{% extends 'base.html' %}
{% block content %}

    <main>
        <div>
            <h1>My Tasks</h1>
            {% if user.tasks.all|length == 0 %}
                <p>You have no tasks</p>
            {% endif %}
            <table>
                <thead>
                    {% if user.tasks.all|length > 0 %}
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for task in user.tasks.all %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{% if task.is_completed == True %} Done {% else %} <form method="post"
                                action="{% url 'complete_task' task.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="is_completed" value="True">
                                <button>Complete</button>
                            </form>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
{% endblock content %}