{% extends 'base.html' %}
{% block content %}

    <main>
        <div>
            <h1>My Projects</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            {% if user.projects.all|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% endif %}
            <table>
                <thead>
                    {% if user.projects.all|length >= 1 %}
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td><a href="{% url 'show_project' project.pk %}">{{ project.name }}</a></td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
{% endblock content %}